:root {
  --bg-dark: #000000;
  --bg-panel: rgba(10, 10, 10, 0.9);
  --bg-box: rgba(26, 26, 26, 0.95);
  --accent: #355bda;
  --accent-hover: #1446d1;
  --accent-hover2: #3b3b3b;
  --text-main: #5c5959;
  --text-dim: #888888;
  --danger: #be0d0d;
  --scout: #00f2ff;
  --base: #66ff00;
  --stars: #ffca28;
  --font-mono: 'JetBrains Mono', monospace;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--bg-dark) url('./assets/bg.avif') no-repeat center/cover fixed;
  font-family: var(--font-mono);
  color: var(--text-main);
  overflow: hidden;
}

.btn-primary, .btn-secondary {
  font-family: var(--font-mono);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s all ease;
  border-radius: 2px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0 20px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
  border: 1px solid transparent;
}

.btn-primary {
  background: var(--accent);
  color: #fff;
}

.btn-primary:hover {
  background: var(--accent-hover);
  box-shadow: 0 0 15px rgba(20, 70, 209, 0.4);
  border-color: var(--scout);
}

.btn-secondary {
  background: rgba(26, 26, 26, 0.9);
  border: 1px solid #444;
  color: var(--text-dim);
}

.btn-secondary:hover {
  background: var(--accent-hover2);
  color: #fff;
  border-color: var(--text-main);
}
.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.mapboxgl-popup-content {
  background: var(--bg-box) !important;
  color: var(--text-main) !important;
  font-family: var(--font-mono) !important;
  border: 1px solid var(--accent-hover2) !important;
  border-radius: 2 px !important;
  padding: 12 px !important;
}
.mapboxgl-popup-tip {
  display: none !important;
}
.mapboxgl-popup-close-button {
  color: var(--test-dim) !important;
  font-size: 1rem !important;
}
.mapboxgl-popup-close-button:hover {
  color: #fff !important;
  background: none !important;
}
